@charset "UTF-8";
@import url(../css/icon.css);
body {
  margin: 0;
  font-family: sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

.top-header {
  background-color: #080808;
  padding: 11px 0;
}

.social__link {
  padding: 9px 9px 7px;
  color: #fff;
  background: #F62221;
  border-radius: 50%;
}

.top-header__icon {
  padding: 8px 9px;
  color: #fff;
  opacity: 0.7;
  background-color: #272727;
  border-radius: 50%;
}

.top-header__info {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  color: #7B7B7B;
}

.top-header__link {
  color: #7B7B7B;
}

.top-header__dot {
  padding: 0 3px;
  margin: 5px;
  font-size: 6px;
  border-radius: 50%;
  background: #F62221;
  opacity: 0.5;
}

.intro {
  background-image: url(../img/bg-intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px 0 344px 0;
}

.main-header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  font-weight: 600;
  margin-right: 30px;
  font-size: 13px;
  text-align: center;
  color: #fff;
  position: relative;
}
.menu__link:not(:last-of-type)::after {
  content: "";
  width: 5px;
  height: 5px;
  bottom: 3px;
  right: -18px;
  position: absolute;
  background-color: #821c24;
  border-radius: 50%;
}
.menu__link span {
  font-size: 6px;
  padding: 7px;
}

.menu__button {
  font-weight: bold;
  font-size: 18px;
  background-color: transparent;
  border: none;
  color: #fff;
  position: relative;
}
.menu__button::after {
  content: "";
  width: 50px;
  height: 5px;
  bottom: -10px;
  right: 5px;
  position: absolute;
  background-color: #F62221;
  border-radius: 55px;
}

.intro__content {
  width: 576px;
  margin-top: 174px;
}

.intro-type {
  text-align: end;
}
.intro-type p {
  display: inline-block;
  color: #BABABD;
}
.intro-type span {
  font-weight: bold;
  font-size: 18px;
  padding: 9px 18px;
  margin-left: 15px;
  color: #fff;
  background: #7B1312;
  -webkit-box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
          box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
  border-radius: 0px 15px;
}

.intro__title {
  font-weight: bold;
  font-size: 90px;
  line-height: 75px;
  color: #fff;
  margin-bottom: 34px;
}

.intro__line {
  display: inline-block;
  width: 100px;
  border-bottom: 2px dashed #F62221;
  margin-left: 20px;
  position: relative;
}
.intro__line::before {
  content: "";
  width: 7px;
  height: 7px;
  bottom: -4px;
  left: -12px;
  position: absolute;
  background-color: #F62221;
  border-radius: 50%;
}
.intro__line::after {
  content: "";
  width: 7px;
  height: 7px;
  bottom: -4px;
  right: -12px;
  position: absolute;
  background-color: #F62221;
  border-radius: 50%;
}

.intro__text {
  line-height: 25px;
  color: #BABABD;
  margin-top: 25px;
}

.intro__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.button {
  background: #F62221;
  border-radius: 55px;
  padding: 14px 35px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #fff;
  -webkit-box-shadow: 0px 16px 24px rgba(246, 34, 33, 0.2), 0px 2px 6px rgba(246, 34, 33, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 16px 24px rgba(246, 34, 33, 0.2), 0px 2px 6px rgba(246, 34, 33, 0.12), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border: none;
}

.intro__choose-model {
  background: transparent;
  border-radius: 55px;
  padding: 14px 35px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #fff;
  border: 2px solid #F62221;
  -webkit-filter: drop-shadow(0px 16px 24px rgba(246, 34, 33, 0.2)), drop-shadow(0px 2px 6px rgba(246, 34, 33, 0.12)), drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
          filter: drop-shadow(0px 16px 24px rgba(246, 34, 33, 0.2)), drop-shadow(0px 2px 6px rgba(246, 34, 33, 0.12)), drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.04));
}

.extreme-works, .our-works {
  padding: 80px;
  background-color: #F5F5F5;
}
.extreme-works .col-lg-4, .our-works .col-lg-4 {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  border-radius: 7px;
}

.extreme-works__title {
  font-weight: bold;
  font-size: 64px;
  color: #080808;
  margin-bottom: 102px;
  position: relative;
}
.extreme-works__title::after {
  content: "";
  width: 100px;
  height: 5px;
  bottom: -50px;
  left: 0;
  position: absolute;
  background-color: #F62221;
  border-radius: 55px;
}

.extreme-works__dot {
  display: inline-block;
  width: 33px;
  height: 10px;
  background: #F62221;
  -webkit-box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
          box-shadow: 0px 0px 30px rgba(251, 163, 66, 0.05);
  border-radius: 0px 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-bottom: 11px;
}

* img {
  width: 100%;
}

.extreme-works__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 22px 40px;
  top: 0;
  bottom: 0;
  left: 12px;
  right: 12px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 8, 8, 0)), to(rgba(8, 8, 8, 0.8)));
  background: linear-gradient(360deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.8) 100%);
  border-radius: 7px;
}
.extreme-works__text p {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.price {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-align: right;
}

.ruble {
  color: #F62221;
}

.all-work {
  font-weight: 600;
  float: right;
  color: #080808;
}
.all-work span {
  color: #F62221;
}

.about .col-6 {
  padding: 0;
  position: relative;
}

.about__content {
  padding: 40px 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(8, 8, 8, 0)), color-stop(59.9%, rgba(8, 8, 8, 0.666667)), to(#080808));
  background: linear-gradient(360deg, rgba(8, 8, 8, 0) 0%, rgba(8, 8, 8, 0.666667) 59.9%, #080808 100%);
}

.about__title {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
}
.about__title .data {
  font-weight: bold;
  font-size: 12px;
  color: #7B7B7B;
  margin-left: 150px;
}

.about__text {
  width: 400px;
  line-height: 20px;
  color: #fff;
}

.our-works__title {
  font-weight: bold;
  font-size: 64px;
  color: #080808;
  margin-bottom: 102px;
  position: relative;
}
.our-works__title::after {
  content: "";
  width: 100px;
  height: 5px;
  bottom: -50px;
  left: 0;
  position: absolute;
  background-color: #F62221;
  border-radius: 55px;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

.grid-item {
  width: 80%;
  height: 80%;
  border-radius: 7px;
  overflow: hidden;
}

.grid-item:nth-child(1) {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/6/2;
}

.grid-item:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
}

.grid-item:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
}

.grid-item:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/4/3;
}

.grid-item:nth-child(5) {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4/2/5/3;
}

.grid-item:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5/2/6/3;
}

.our-works__content {
  margin-bottom: 30px;
}
.our-works__content ul {
  padding: 0;
  list-style: none;
}
.our-works__content li {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #7B7B7B;
}
.our-works__content li::before {
  content: "•";
  font-size: 20px;
  padding-right: 8px;
  color: #F62221;
}

.our-works__car-name {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0 10px;
  color: #080808;
}

.map {
  position: relative;
}

.map__line {
  background-image: url(../img/cargi-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -27px;
  width: 100%;
  height: 84px;
  position: absolute;
}
.map__line::before {
  content: "";
  width: 586px;
  height: 6px;
  position: absolute;
  top: 25px;
  background: #F62221;
  border-radius: 55px;
  left: 0;
}
.map__line::after {
  content: "";
  width: 586px;
  height: 6px;
  position: absolute;
  top: 25px;
  background: #F62221;
  border-radius: 55px;
  right: 0;
}

.footer {
  padding: 80px 0;
  background-color: #080808;
}
.footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  opacity: 0.25;
}

.footer__text {
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
  color: #697A89;
}

.footer__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
  color: #F62221;
}

.footer__link {
  display: block;
  font-weight: 500;
  font-size: 12px;
  margin: 5px 0;
  color: #FFFFFF;
}

.footer__info {
  border-left: 2px dashed #260b0b;
  border-right: 2px dashed #260b0b;
  padding-bottom: 30px;
}

.contact__link {
  margin: 11px 0;
}

.contact__text {
  font-size: 14px;
  color: #7B7B7B;
}

.data {
  font-weight: 600;
  font-size: 14px;
  color: #697A89;
}